<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medical_record.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @medical_record.dob %>
</p>

<p>
  <strong>Language:</strong>
  <%= @medical_record.language %>
</p>

<p>
  <strong>Phone 1:</strong>
  <%= @medical_record.phone_1 %>
</p>

<p>
  <strong>Phone 2:</strong>
  <%= @medical_record.phone_2 %>
</p>

<p>
  <strong>Emer contact name:</strong>
  <%= @medical_record.emer_contact_name %>
</p>

<p>
  <strong>Emer contact no:</strong>
  <%= @medical_record.emer_contact_no %>
</p>

<p>
  <strong>Prim phys name:</strong>
  <%= @medical_record.prim_phys_name %>
</p>

<p>
  <strong>Prim phys no:</strong>
  <%= @medical_record.prim_phys_no %>
</p>

<p>
  <strong>Health iss name:</strong>
  <%= @medical_record.health_iss_name %>
</p>

<p>
  <strong>Health iss no:</strong>
  <%= @medical_record.health_iss_no %>
</p>

<p>
  <strong>Health mem:</strong>
  <%= @medical_record.health_mem_id %>
</p>

<p>
  <strong>Anemia:</strong>
  <%= @medical_record.anemia %>
</p>

<p>
  <strong>Angina:</strong>
  <%= @medical_record.angina %>
</p>

<p>
  <strong>Asthma:</strong>
  <%= @medical_record.asthma %>
</p>

<p>
  <strong>Cancer:</strong>
  <%= @medical_record.cancer %>
</p>

<p>
  <strong>Cataracts:</strong>
  <%= @medical_record.cataracts %>
</p>

<p>
  <strong>Colities:</strong>
  <%= @medical_record.colities %>
</p>

<p>
  <strong>Crohns disease:</strong>
  <%= @medical_record.crohns_disease %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @medical_record.diabetes %>
</p>

<p>
  <strong>Emphysema:</strong>
  <%= @medical_record.emphysema %>
</p>

<p>
  <strong>Epilepsy:</strong>
  <%= @medical_record.epilepsy %>
</p>

<p>
  <strong>Goiter:</strong>
  <%= @medical_record.goiter %>
</p>

<p>
  <strong>Heart murmur:</strong>
  <%= @medical_record.heart_murmur %>
</p>

<p>
  <strong>Heart problems:</strong>
  <%= @medical_record.heart_problems %>
</p>

<p>
  <strong>Hepatitis:</strong>
  <%= @medical_record.hepatitis %>
</p>

<p>
  <strong>High blood pressure:</strong>
  <%= @medical_record.high_blood_pressure %>
</p>

<p>
  <strong>High cholesterol:</strong>
  <%= @medical_record.high_cholesterol %>
</p>

<p>
  <strong>Hiv aids:</strong>
  <%= @medical_record.hiv_aids %>
</p>

<p>
  <strong>Hypothyroidism:</strong>
  <%= @medical_record.hypothyroidism %>
</p>

<p>
  <strong>Jaundice:</strong>
  <%= @medical_record.jaundice %>
</p>

<p>
  <strong>Kidney disease:</strong>
  <%= @medical_record.kidney_disease %>
</p>

<p>
  <strong>Kidney stones:</strong>
  <%= @medical_record.kidney_stones %>
</p>

<p>
  <strong>Leukemia:</strong>
  <%= @medical_record.leukemia %>
</p>

<p>
  <strong>Pneumonia:</strong>
  <%= @medical_record.pneumonia %>
</p>

<p>
  <strong>Psoriasis:</strong>
  <%= @medical_record.psoriasis %>
</p>

<p>
  <strong>Pulmonary embolism:</strong>
  <%= @medical_record.pulmonary_embolism %>
</p>

<p>
  <strong>Rheumatic fever:</strong>
  <%= @medical_record.rheumatic_fever %>
</p>

<p>
  <strong>Stomach peptic ulcer:</strong>
  <%= @medical_record.stomach_peptic_ulcer %>
</p>

<p>
  <strong>Stroke:</strong>
  <%= @medical_record.stroke %>
</p>

<p>
  <strong>Tuberculosis:</strong>
  <%= @medical_record.tuberculosis %>
</p>

<%= link_to 'Edit', edit_user_medical_record_path(current_user) %> |
<%= link_to 'New Medical Event', new_medical_record_medical_event_path(current_user) %>

<h2>Medical Events</h2>
<% @medical_record.medical_events.each do |medical_event| %>
  <!-- <%= medical_event.date %>
  <%= medical_event.description %>
  <%= medical_event.provider %> -->
  <p>
    <strong>Date:</strong>
    <%= medical_event.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= medical_event.description %>
  </p>

  <p>
    <strong>Provider:</strong>
    <%= medical_event.provider %>
  </p>
<% end %>
<%= link_to 'Logout', logout_path %>
