<p id="notice"><%= notice %></p>

<p>
  <strong>Anemia:</strong>
  <%= @medical_record.anemia %>
</p>

<p>
  <strong>Angina:</strong>
  <%= @medical_record.angina %>
</p>

<p>
  <strong>Asthma:</strong>
  <%= @medical_record.asthma %>
</p>

<p>
  <strong>Cancer:</strong>
  <%= @medical_record.cancer %>
</p>

<p>
  <strong>Cataracts:</strong>
  <%= @medical_record.cataracts %>
</p>

<p>
  <strong>Colities:</strong>
  <%= @medical_record.colities %>
</p>

<p>
  <strong>Crohns disease:</strong>
  <%= @medical_record.crohns_disease %>
</p>

<p>
  <strong>Diabetes:</strong>
  <%= @medical_record.diabetes %>
</p>

<p>
  <strong>Emphysema:</strong>
  <%= @medical_record.emphysema %>
</p>

<p>
  <strong>Epilepsy:</strong>
  <%= @medical_record.epilepsy %>
</p>

<p>
  <strong>Goiter:</strong>
  <%= @medical_record.goiter %>
</p>

<p>
  <strong>Heart murmur:</strong>
  <%= @medical_record.heart_murmur %>
</p>

<p>
  <strong>Heart problems:</strong>
  <%= @medical_record.heart_problems %>
</p>

<p>
  <strong>Hepatitis:</strong>
  <%= @medical_record.hepatitis %>
</p>

<p>
  <strong>High blood pressure:</strong>
  <%= @medical_record.high_blood_pressure %>
</p>

<p>
  <strong>High cholesterol:</strong>
  <%= @medical_record.high_cholesterol %>
</p>

<p>
  <strong>Hiv aids:</strong>
  <%= @medical_record.hiv_aids %>
</p>

<p>
  <strong>Hypothyroidism:</strong>
  <%= @medical_record.hypothyroidism %>
</p>

<p>
  <strong>Jaundice:</strong>
  <%= @medical_record.jaundice %>
</p>

<p>
  <strong>Kidney disease:</strong>
  <%= @medical_record.kidney_disease %>
</p>

<p>
  <strong>Kidney stones:</strong>
  <%= @medical_record.kidney_stones %>
</p>

<p>
  <strong>Leukemia:</strong>
  <%= @medical_record.leukemia %>
</p>

<p>
  <strong>Pneumonia:</strong>
  <%= @medical_record.pneumonia %>
</p>

<p>
  <strong>Psoriasis:</strong>
  <%= @medical_record.psoriasis %>
</p>

<p>
  <strong>Pulmonary embolism:</strong>
  <%= @medical_record.pulmonary_embolism %>
</p>

<p>
  <strong>Rheumatic fever:</strong>
  <%= @medical_record.rheumatic_fever %>
</p>

<p>
  <strong>Stomach peptic ulcer:</strong>
  <%= @medical_record.stomach_peptic_ulcer %>
</p>

<p>
  <strong>Stroke:</strong>
  <%= @medical_record.stroke %>
</p>

<p>
  <strong>Tuberculosis:</strong>
  <%= @medical_record.tuberculosis %>
</p>

<%= link_to 'Edit', edit_medical_record_path(@medical_record) %> |
<%= link_to 'Back', medical_records_path %>
